.body {
    background-color: #223D3D;
    color: white;
}

/* .chat_div {
    background: white;
} */

.chat_name_a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a {
    color: white;
}